# .github/workflows/local-test.yml
name: local-test

on:
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Apprun
        id: deploy
        uses: sundaypeople/sakura-apprun-deploy@v0.0.4
        with:
          # 認証（必須）
          access_token:  ${{ secrets.APPRUN_ACCESS_TOKEN }}
          access_secret: ${{ secrets.APPRUN_ACCESS_SECRET }}

          # アプリ識別
          application_name: example
          image: testnginx.sakuracr.jp/busy_server:v0.0.2 # デプロイするコンテナイメージ
          server: testnginx.sakuracr.jp

          # ポート / スケール
          port: 8080
          min_scale: 0
          max_scale: 2

          # コンポーネント名（省略時は application_name）
          components_name: example

          # レジストリ（プライベートの場合）
          container_registry_username: ${{ secrets.REGISTRY_USER }}
          container_registry_password: ${{ secrets.REGISTRY_PASS }}

          # リソース上限
          max_cpu: "0.5"     
          max_memory: "512Mi" 

          # タイムアウト（秒）
          timeout_seconds: 60
