# .github/workflows/local-test.yml
name: local-test

on:
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Apprun
        id: deploy
        uses: sundaypeople/sakura-apprun-deploy@v0.0.2
        with:
          access_token:  ${{ secrets.ACCESS_TOKEN }}
          access_secret: ${{ secrets.ACCESS_SECRET }}
          application_name: example
          image: testinginx.sakuracr.jp/testnginx:v0.0.1
          port: 80
          min_scale: 0
          max_scale: 2
          components_name: example
          container_registry_username: ${{ secrets.REGISTRY_USER }}
          container_registry_password: ${{ secrets.REGISTRY_PASS }}
          server: testinginx.sakuracr.jp
          max_cpu: "0.5"
          max_memory: "1Gi"
          timeout_seconds: 60
          probe_path: /
          probe_port: 80
          probe_headers: |
            X-Env: "prod"
            X-Token: "aaaaaa"
          env: |
            NODE_ENV: "production"
            LOG_LEVEL: "info"

      - name: Print URL
        run: echo "Public URL${{ steps.deploy.outputs.public_url }}"
